@using QuestionnaireSys.DAL
@using QuestionnaireSys.Model
@{
    ViewBag.Title = "UpdataQuestionnairesInfo";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    UnitOfWork work = new UnitOfWork();
    List<Classe> className = work.Repository<Classe>().GetList().ToList();
    List<AdminUser> user = work.Repository<AdminUser>().GetList().ToList();
    List<QuestionnaireType> qt = work.Repository<QuestionnaireType>().GetList().ToList();
}

<title>修改问卷信息</title>
<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">班级：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="" id="select1" class="select">
                        <option value="@ViewBag.Classe.Id">@ViewBag.Classe.ClasseName</option>
                        @foreach (var item in className)
                        {
                            if (item.ClasseName != @ViewBag.Classe.ClasseName)
                            {
                                <option value="@item.Id">@item.ClasseName</option>
                            }
                        }
                    </select>
                </span>
            </div>
        </div>
        @*<option value="@ViewBag.AdminUser.Id">@ViewBag.AdminUser.UserName</option>*@
        @*<div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">所属管理者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select id="select2" class="select">
          
                        @foreach (var item in user)
                        {
                            <option value="@item.Id">@item.UserName</option>
                        }
                    </select>
                </span>
            </div>
        </div>*@
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">问卷名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@ViewBag.Questionnaire.QuestionnaireName" placeholder="请输入问卷名称" id="name" name="">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">问卷类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select id="select3" class="select">
                        <option value="@ViewBag.QuestionnaireType.Id">@ViewBag.QuestionnaireType.QuestionnaireName</option>
                        @foreach (var item in qt)
                        {
                            if (item.QuestionnaireName != @ViewBag.QuestionnaireType.QuestionnaireName)
                            {
                                <option value="@item.Id">@item.QuestionnaireName</option>
                            }
                        }
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">解决方案：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@ViewBag.Questionnaire.Solution" placeholder="请输入解决方案" id="solution" name="">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button @*onClick="article_save();"*@ id="btnUpdata" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    @*<script src="~/Areas/admin/Script/jquery-3.2.1.min.js"></script>*@
    <script src="~/Areas/admin/Script/jquery.validate.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#btnUpdata").click(function () {

            var Id= @ViewBag.Id;
            var classId = $("#select1").val();
            //alert(classId);
            var userId = $("#select2").val();
            var name = $.trim($("#name").val());
            var typeId = $("#select3").val();
            var solution = $.trim($("#solution").val());
            //var classId = $("#select").find("option").eq($("#select").first().val() - 1).val();
            if (name == "") {
                layer.msg("问卷名称不能为空！");
            }
            else {
                $.post("/admin/QuestionnairesInfo/UpdataQuestionnairesInfo", { id:Id,classId: classId, questionnaireName: name,questionnaireTypeId: typeId,solution: solution},
                    function (data) {
                        if (data.success) {
                            layer.msg(data.message, { icon: 1 }, setTimeout(function () {
                                //layer_close();
                                parent.location.reload();
                                //location = location;
                            }, 500))
                        }
                        else {
                            layer.msg(data.message, { icon: 2, time: 500 });
                        }
                    }, "json")
            }




        })
    })
    </script>
}




