@using QuestionnaireSys.DAL
@using QuestionnaireSys.Model
@{
    ViewBag.Title = "UpdataQuestion";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    UnitOfWork work = new UnitOfWork();
    List<Questionnaire> Questionnaire = work.Repository<Questionnaire>().GetList().ToList();
}

<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">所属问卷：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="" id="select" class="select">
                        <option value="@ViewBag.Questionnaire.Id">@ViewBag.Questionnaire.QuestionnaireName</option>
                        @foreach (var item in Questionnaire)
                        {
                            if (item.QuestionnaireName != @ViewBag.Questionnaire.QuestionnaireName)
                            {
                                <option value="@item.Id">@item.QuestionnaireName</option>
                            }

                        }
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">问题内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@ViewBag.Question.Context" placeholder="请输入问题内容" id="context" name="">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button @*onClick="article_save();"*@ id="btnUpdata" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Areas/admin/Script/jquery.validate.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#btnUpdata").click(function () {

            var Id= @ViewBag.Id;
            var questionId = $("#select").val();
            var context = $("#context").val();
            //alert(Id);
            //alert(questionId);
            //alert(context);
            if (context == "") {
                layer.msg("问题内容不能为空！");
            }
            else {
                $.post("/admin/Question/UpdataQuestion", { id:Id,questionId: questionId,content: context},
                    function (data) {
                        if (data.success) {
                            layer.msg(data.message, { icon: 1 }, setTimeout(function () {
                                //layer_close();
                                parent.location.reload();
                                //location = location;
                            }, 500))
                        }
                        else {
                            layer.msg(data.message , { icon: 2, time: 500 });
                        }
                    }, "json")
            }
        })
    })
    </script>
}
